# Middleware (Kafka)
KAFKA_PORT=9092
KAFKA_NODE_ID=1
KAFKA_CONTROLLER_PORT=9093
KAFKA_HOST=kafka
KAFKA_NUM_PARTITIONS=1

# Monitoring
PROMETHEUS_URL=http://prometheus:9090/api/v1/write
LOKI_URL=http://loki:3100/loki/api/v1/push
ML_SERVICE_URL=
PROMETHEUS_VERSION=v3.10.0
GRAFANA_VERSION=12.4.0
