# Middleware (Kafka)
KAFKA_PORT=9092
KAFKA_HOST=kafka-1
KAFKA_NUM_PARTITIONS=3
# Generate once: docker run --rm apache/kafka:4.1.1 kafka-storage random-uuid
KAFKA_CLUSTER_ID=

# Monitoring
PROMETHEUS_URL=http://prometheus:9090/api/v1/write
LOKI_URL=http://loki:3100/loki/api/v1/push
ML_SERVICE_URL=
PROMETHEUS_VERSION=v3.10.0
GRAFANA_VERSION=12.4.0
